<div class=toppage>
    <div class=topimage>
      <h1 class=toph1>Welcom to traveler!</h1>
      <%= link_to("Sign Up", "/users/new") %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("Login", "/login") %>

      <div class="loop_wrap">
        <ul>
          <li><img src="/top_images/1.jpg" alt=""></li>
        </ul>
        <ul>
          <li><img src="/top_images/2.jpg" alt=""></li>
        </ul>
        <ul>
          <li><img src="/top_images/3.jpg" alt=""></li>
        </ul>
        <ul>
          <li><img src="/top_images/4.jpg" alt=""></li>
        </ul>
        <ul>
          <li><img src="/top_images/1.jpg" alt=""></li>
        </ul>
        <ul>
          <li><img src="/top_images/2.jpg" alt=""></li>
        </ul>
        <ul>
          <li><img src="/top_images/3.jpg" alt=""></li>
        </ul>
        <ul>
          <li><img src="/top_images/4.jpg" alt=""></li>
        </ul>
      </div>

    </div>
</div>
